name: BP - CI (Build, Unit Test, BDD, Code Quality)

env:
  DOTNET_VERSION: "9"

on:
  push:
    branches:
      - main
      - staging
  pull_request:

jobs:
  ci-build-test-sonar:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Install SonarScanner for .NET
        run: |
          dotnet tool install --global dotnet-sonarscanner
          echo "$HOME/.dotnet/tools" >> $GITHUB_PATH
      - name: SonarCloud - Begin
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner begin \
            /k:"prashidi_ca1-project-bp" \
            /o:"prashidi" \
            /d:sonar.tests="UnitTestBP,bpBddTests"
            /d:sonar.token="$SONAR_TOKEN" \
            /d:sonar.sources="." \
            /d:sonar.cs.opencover.reportsPaths="**/TestResults/**/*.opencover.xml"

      - name: Build Solution
        run: dotnet build BPCalculator.sln --configuration Release

      - name: Run Tests with Coverage (Unit + Acceptance)
        run: |
          dotnet test UnitTestBP/UnitTestBP.csproj \
            --configuration Release \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=opencover \
            /p:CoverletOutput=TestResults/coverage.unit.
          dotnet test bpBddTests/bpBddTests.csproj \
            --configuration Release \
            /p:CollectCoverage=true \
            /p:CoverletOutputFormat=opencover \
            /p:CoverletOutput=TestResults/coverage.acceptance.
      # --- SONAR END ---
      
      - name: SonarCloud - End
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          dotnet sonarscanner end /d:sonar.token="$SONAR_TOKEN"