name: BP - CI (Build, Unit Test, BDD, Code Quality)

env:
  DOTNET_VERSION: "9"

on:
  push:
    branches:
      - main
      - staging
  pull_request:

permissions:
  id-token: write
  contents: read

jobs:
  ci:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up .NET Core
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: ${{ env.DOTNET_VERSION }}

      - name: Set up dependency caching for faster builds
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/packages.lock.json') }}
          restore-keys: |
            ${{ runner.os }}-nuget-
      
      - name: Build for Release
        run: dotnet build --configuration Release

      - name: Run Unit and BDD Tests with Code Coverage
        run: dotnet test --collect:"XPlat Code Coverage" --results-directory TestResults
      
      - name: Install ReportGenerator
        run: dotnet tool install --global dotnet-reportgenerator-globaltool
      
      # - name: Extract coverage from .coverage file
      #   run: |
      #     mkdir -p coverage
      #     for file in $(find . -type f -name '*.coverage'); do
      #       reportgenerator -reports:"$file" -targetdir:"coverage" -reporttypes:Cobertura
      #     done
      - name: Convert .coverage to Cobertura
        run: |
          mkdir -p coverage
          for file in $(find TestResults -type f -name '*.coverage'); do
            reportgenerator -reports:"$file" -targetdir:"coverage" -reporttypes:Cobertura
          done
      
      - name: Convert Cobertura to OpenCover
        run: reportgenerator -reports:coverage/Cobertura.xml -targetdir:coveragereport -reporttypes:OpenCover

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=prashidi
            -Dsonar.projectKey=prashidi_ca1-project-bp
            -Dsonar.cs.opencover.reportPaths=coveragereport/OpenCover.xml
        env:
          SONAR_TOKEN: ${{ secrets.BP_TOKEN }}