name: BP - k6 Tests
env:
  K6_TARGET_URL: "https://bp-calculator-prashidi-staging-euaec9evcje4fhcd.northeurope-01.azurewebsites.net"

on:
  workflow_call
  
jobs:
  k6_load_test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Pull Docker image for k6
        run: docker pull grafana/k6

      - name: Run k6 load test, capture report and send to Grafana Cloud
        env:
          K6_CLOUD_TOKEN: ${{ secrets.K6_CLOUD_TOKEN }}
          K6_CLOUD_PROJECT_ID: ${{ secrets.K6_CLOUD_PROJECT_ID }}
          K6_TARGET_URL: ${{ env.K6_TARGET_URL }}
        run: docker run -i -e K6_CLOUD_TOKEN=${K6_CLOUD_TOKEN} -e K6_CLOUD_PROJECT_ID=${K6_CLOUD_PROJECT_ID} grafana/k6 cloud - < k6tests/perf2.js > k6report.txt

      - uses: actions/upload-artifact@v4
        with:
          name: k6report
          path: k6report.txt
