# Sonar cloud scan

name: BP - SonarCloud
on:
  workflow_dispatch:                             

jobs:
  scan_code:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0  
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@0f50737321f53f5e3d22c01aff11bfd31b74c3b9
        with:
          projectBaseDir: .
          args: >
            -Dsonar.organization=prashidi
            -Dsonar.projectKey=prashidi_ca1-project-bp
        env:
          SONAR_TOKEN: ${{ secrets.BP_TOKEN }}